.App {
  margin-top: 11vh;
  font-family: sans-serif;
  text-align: center;

}
h5{
  display: flex;
  margin-left: 10%;
  font-size: 30px;
  color: slateblue;
}
.parent {
  border-radius: 5px;
  height: 15rem;
  width: 30rem;
  overflow: auto;
  background-color: rgb(171, 192, 240);
  margin-left: 5vw;

padding-top: 0.5rem;
padding-bottom: 2rem;
display: flex;
flex-direction: column;
gap: 1rem;
font-size: 20px;
}
.parent::-webkit-scrollbar {
  display: none;
}
.label{
  position: absolute;
  top: 38%;
  left: 50%;
  border: 2px solid slateblue;
  display: flex;
  flex-direction: column;

}
textarea{
  width: 30vw;
  height: 10vh;
  margin: 1rem;
}
button{
  width: 7vw;
  margin-left: 40%;
  background-color:rgb(101, 101, 246) ;
  color: white;
  border: none;
  margin: 1rem;
  height: 1.5rem;
  border-radius: 3px;;
}
.heading{

  display: flex;
  margin-left: 11vh;
  font-size: large;
  font-weight: 600;
  word-spacing: 7px;
  color:rgb(101, 101, 246);
}
.input{
  width: 90vw;
  height: 5vh;
  border-radius: 5px;
  padding-left: 1rem;
  border:2px solid rgb(101, 101, 246);
}